@import "../../scss/variables";

.attachments {
  .attachment {
    display: inline-block;
    border: 1px solid $site-border-color-200;
    border-radius: 3px;
    margin: 0 10px 10px 0;
    padding: 5px 7px;
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;

    &:hover {
      border-color: rgba(0, 0, 0, 0.3);
    }
  }

  .name {
    color: $link-color;
    margin-right: 5px;
  }

  .size {
    font-size: 1.1rem;
    font-weight: 500;
    color: $site-text-color-300;
    margin-right: 20px;
  }

  .close {
    color: $site-border-color-200;
    font-size: 1.8rem;
    max-height: 29px;
    font-weight: bold;
    position: absolute;
    top: 4px;
    right: 0;

    &:hover {
      color: rgba(0, 0, 0, 0.3);
    }

    .icon:before {
      font-weight: bold;
    }
  }
}