@import "variables";

.auth-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  > .auth-panel {
    max-width: 90%;
    width: 400px;
    padding: 30px 35px;
    background-color: $login-page-panel-background-color;
    border: 1px solid $login-page-border-color;

    > .general-error {
      padding: 8px 0;
      color: $danger-bg-color;
      text-align: center;
      font-weight: 500;
    }

    .social-icons {
      flex: 0 0 50%;
      height: 36px;
      padding: 3px 0 0;
      
      &:empty {
        display: none;
      }

      > .social-icon {
        width: 31px;
        height: 31px;
        margin-right: 5px;

        > img {
          width: 31px;
          height: 31px;
          vertical-align: middle;
        }
      }
    }

    > .logo {
      display: block;
      width: 100%;
      margin: 0 auto 30px;

      > img {
        display: block;
        margin: auto;
        width: 200px;
      }
    }

    .input-container {
      position: relative;

      > input {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: .5px;
        height: 47px;
        padding: 6px 12px;
        border: 1px solid $login-page-border-color;
      }

      > .error {
        position: absolute;
        top: 0;
        left: 100%;
        margin: 0;
        padding: 0 20px;
        white-space: nowrap;
        background-color: $danger-bg-color;
        color: $danger-text-color;
        line-height: 45px;
        max-width: 350px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > .forgot-password {
        cursor: pointer;
        position: absolute;
        right: 13px;
        top: 14px;
        color: $site-text-color-300;

        &:hover {
          color: $link-color;
        }
      }
    }
  }

  .login-with-envato {
    width: 100%;
    text-align: center;

    > .primary {
      width: 100%;
      border-radius: 5px;
      line-height: 45px;
      padding: 0 16px;

      > mat-icon {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}