@import "../../scss/variables";

.flex-table-panel {
  > .flex-table-panel-header {
    > .header-inner {
      display: flex;
      line-height: $table-panel-header-height;
      padding: $table-panel-header-padding;
      border-bottom: 1px solid transparent;

      &.selected {
        background-color: $table-panel-active-header-background-color;
        color: $table-panel-active-header-text-color;
        font-size: $table-panel-active-header-font-size;
        border-color: $site-border-color-200;

        > .right {
          > button {
            margin: 0 4px;
            border: 1px solid $site-border-color-200;
            padding: 0 8px;
            vertical-align: middle;
          }
        }
      }

      > .left {
        flex: 0 0 50%;
      }

      > .right {
        flex: 0 0 50%;
        display: flex;
        justify-content: flex-end;

        > .input-container {
          max-width: 300px;
          position: relative;

          > input {
            font-weight: 400;
          }

          > mat-icon {
            position: absolute;
            top: 8px;
            right: 5px;
          }
        }
      }
    }
  }

  > .flex-table-panel-footer {
    > pagination-controls {
      padding: 5px 0;
    }
  }
}