@import "../../scss/variables";

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  overflow: visible;
  backface-visibility: hidden;

  &.modal-visible {
    .modal-content {
      transform: scale(1);
      opacity: 1;
    }

    .backdrop {
      opacity: 1;
    }
  }

  .modal-content {
    position: relative;
    background-color: $modal-content-background-color;
    width: $modal-content-width;
    max-width: $modal-content-max-width;
    max-height: $modal-content-max-height;
    padding: $modal-content-padding;
    box-shadow: $modal-content-box-shadow;
    color: $modal-content-text-color;
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;

    &.wider {
      width: 850px;
    }

    @media only screen and (max-width:$phone) {
      max-width: none;
      min-width: initial;
      width: 95%;
    }

    .buttons {
      text-align: right;
      margin-top: 35px;
    }

    > .modal-header {
      display: flex;
      align-items: center;
      position: relative;
      color: $modal-header-text-color;
      margin: $modal-header-margin;

      > h2 {
        font-size: $modal-header-font-size;
        font-weight: $modal-header-font-weight;
        letter-spacing: .005em;
        flex: 1 1 auto;
        margin: 0;
        line-height: 3.2rem;
      }
    }
  }

  .close-button {
    flex: 0 0 $modal-close-button-size;
    width: $modal-close-button-size;
    height: $modal-close-button-size;
    color: $modal-close-button-color;
    transition: transform ease 0.2s;
    z-index: 999;

    &.absolute-button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
    }

    &:hover {
      transform: rotate(90deg);
    }
  }

  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $modal-backdrop-color;
    opacity: 0;
    transition: opacity ease 0.3s;

    &.light {
      background-color: $form-modal-background-color;
    }
  }

  .errors {
    color: $modal-error-text-color;

    > .error {
      padding: 10px 0;

      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }

  .input-container {
    > .error {
      color: $modal-error-text-color;
    }

    > p {
      margin-top: 8px;
      line-height: 1.5;
      font-size: 1.4rem;
      color: $modal-input-hint-text-color;
    }
  }

  .no-input-error {
    padding: 10px 0;
    color: $danger-bg-color;
  }
}

.modal-active {
  filter: blur(4px);
}