@import "../../scss/variables";

.navbar {
  background-color: $navbar-background-color;
  color: $navbar-text-color;
  box-shadow: $navbar-boxshadow;
  height: $navbar-height;
  position: relative;
  z-index: 3;

  > .nav-content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 20px;
    margin: 0 auto;
  }

  .logo {
    display: block;
    width: auto;
    height: 32px;

    @media only screen and (max-width: $tablet) {
      height: 26px;
    }
  }

  .text-logo {
    font-size: 3rem;
    color: #fff;
    border-right: 1px solid $primary-color-light;
    padding-right: 30px;
    margin-right: 30px;
    margin-left: 25px;
  }

  .left {
    flex: 1 1 auto;
    flex-grow: 3;
  }

  .right {
    flex: 1 1 auto;
    text-align: right;
    justify-content: flex-end;
  }

  .nav-group {
    display: flex;
    align-items: center;

    &.search-bar-container {
      max-width: 720px;
    }

    &.flex-grow-none {
      flex-grow: 0;
    }
  }

  .nav-item {
    white-space: nowrap;

    > a, > button, > .text {
      display: block;
      color: inherit;
      text-decoration: none;
      padding: 5px 15px;
      border-radius: 5px;
      line-height: 22px;
    }

    .router-link-active {
      color: $accent-text-color;
      background-color: $primary-color;
    }
  }

  .search-bar {
    width: 100%;
    margin-left: 35px;

    input {
      background-color: $navbar-searchbar-background-color;
      border: none;
      outline: none;
      height: $navbar-height - 20;
      max-height: $navbar-height - 20;
      width: 100%;
      padding: 10px;
      border-radius: 3px;
      color: inherit;
      font-size: 1.5rem;

      &::-webkit-input-placeholder {
        color: rgba(255,255,255,.65);
        font-size: 1.7rem;
        font-weight: 400;
      }

      &:-moz-placeholder {
        color: rgba(255,255,255,.65);
      }

      ::-moz-placeholder {
        color: rgba(255,255,255,.65);
      }

      &:-ms-input-placeholder {
        color: rgba(255,255,255,.65);
      }
    }

    .input-and-icon-container {
      .icon {
        font-size: 1.8rem;
        top: 10px;
      }
    }
  }
}