@import "variables";

.pretty-checkbox {
  display: none;
  cursor: pointer;

  &:focus, &:active {
    outline:none;
  }

  & + label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 28px;
    margin-right: 13px;
    line-height: 20px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: baseline;
    
    > span {
      visibility: hidden;
      width: 0; height: 0;
      font-size: 0;
    }

    &:before, &:after {
      content:'';
      display: inline-block;
      width: 20px;
      height: 20px;
      left:0;
      bottom:0;
      text-align: center;
      position: absolute;
    }

    &:before {
      border: 2px solid $site-text-color-300;
      border-radius: 2px;
      transition: all 90ms cubic-bezier(0,0,.2,.1);
    }

    &:after {
      color: $accent-text-color;
    }
  }

  &:checked + label:before {
    background: $site-accent-color;
    border-color: transparent;
  }

  &:checked + label:after {
    content:"\2713";
    line-height: 21px;
  }
}