@import "../../scss/variables";

.tooltip {
  position: absolute;
  z-index: 10;
  background-color: $toast-default-background-color;
  color: $toast-default-text-color;
  padding: 0 8px;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 21px;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-origin: center top;
  border-radius: 2px;


  &.top {
    &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: $toast-default-background-color;
      border-width: 4px;
      margin-left: -4px;
    }
  }

  &.bottom {
    &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: $toast-default-background-color;
      border-width: 4px;
      margin-left: -4px;
    }
  }
}